<div class="container">
    <h1>Login Page Placeholder</h1>
</div>
<div class="container">
    <div>
        <input type="text" placeholder="Username">
        <input type="text" placeholder="Password">
    </div>
</div>